<% layout('layout/boilerplate') -%>

<main class="main vh-100 vw-100">
	<section class="d-flex min-height-94 w-100 login-main-section">
		<div class="logo-container w-60 d-flex justify-content-center align-items-center">
			<div class="logo">
				<img src="Icons/logo_big_white.svg" alt="" class="h-100 w-100" />
			</div>
		</div>
		<div class="min-height-94 w-40 login-container d-flex ml-3 flex-direction-col">
			<div class="logo-small-container mb-4 mt-5">
				<img src="Icons/logo_small_off_white.svg" alt="" class="logo-small" />
			</div>
			<div>
				<h1 class="title text-color mb-4">Happening now</h1>
			</div>
			<div>
				<h3 class="subtitle text-color mb-3">Join Twitter today.</h3>
			</div>
			<div class="d-flex flex-direction-col main-login-btn-container">
				<button class="btn btn-white mb-1 min-w-335px">Google Sign in button</button>
				<button class="btn btn-white min-w-335px">Apple Sign in button</button>
				<div class="d-flex max-w-100 align-items-center min-w-335px">
					<div class="hr"></div>
					<span class="text-color p-1">or</span>
					<div class="hr"></div>
				</div>
				<div>
					<button class="btn sign-up-button min-w-335px">Sign up with phone or email</button>
				</div>
				<div class="mb-5 min-w-335px">
					<p class="text-muted terms"
						>By signing up, you agree to the <a href="#">Terms of Service</a> and
						<a href="#">Privacy Policy</a>, including <a href="#">Cookie Use</a>.</p
					>
				</div>
				<div class="mb-3 min-w-335px">
					<h4 class="text-color sub">Already have an account?</h4>
				</div>
				<div>
					<button class="text-blue btn sign-in-button min-w-335px">Sign in</button>
				</div>
			</div>
		</div>
	</section>
	<footer class="h-auto text-align-center pt-2 mx-2">
		<a href="#" class="text-muted p-2 mt-1 ftr-link">About</a>
		<a href="#" class="text-muted p-2 mt-1 ftr-link">Help Center</a>
		<a href="#" class="text-muted p-2 mt-1 ftr-link">Terms of Service</a>
		<a href="#" class="text-muted p-2 mt-1 ftr-link">Privacy Policy</a>
		<a href="#" class="text-muted p-2 mt-1 ftr-link">Cookie Policy</a>
		<a href="#" class="text-muted p-2 mt-1 ftr-link">Accessibility</a>
		<a href="#" class="text-muted p-2 mt-1 ftr-link">Ads info</a>
		<a href="#" class="text-muted p-2 mt-1 ftr-link">Blog</a>
		<a href="#" class="text-muted p-2 mt-1 ftr-link">Status</a>
		<a href="#" class="text-muted p-2 mt-1 ftr-link">Careers</a>
		<a href="#" class="text-muted p-2 mt-1 ftr-link">Brand Resources</a>
		<a href="#" class="text-muted p-2 mt-1 ftr-link">Advertising</a>
		<a href="#" class="text-muted p-2 mt-1 ftr-link">Marketing</a>
		<a href="#" class="text-muted p-2 mt-1 ftr-link">Twitter for Business</a>
		<a href="#" class="text-muted p-2 mt-1 ftr-link">Developers</a>
		<a href="#" class="text-muted p-2 mt-1 ftr-link">Directory</a>
		<a href="#" class="text-muted p-2 mt-1 ftr-link">Settings</a>
		<p class="text-muted p-2 mt-1 ftr-link d-inline">&copy; 2022 Twitter, Inc.</p>
	</footer>
</main>
