html {
	overflow-y: hidden;
}

/* Change this later */
span:focus-visible {
	outline: none;
}

.new-tweet-modal {
	display: flex;
	z-index: 50;
}

.modal-outer {
	border-radius: 0;
	align-items: center;
	height: auto;
}

.modal-inner {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 85%;
	margin-top: 10px;
}

.modal-header {
	display: flex;
	justify-content: space-between;
}

.modal-back-wrpper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 35px;
}

.modal-back {
	height: 35px;
	width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-back:hover {
	border-radius: 50%;
	background-color: rgba(68, 68, 68, 0.452);
}

.modal-back-img {
	height: 21px;
	width: 21px;
	fill: var(--primary-text);
}

.submit-tweet-btn {
	margin: 0;
	border-radius: 20px;
	border: none;
	background-color: var(--twitter-blue);
	font-weight: 700;
	color: var(--primary-text);
	font-size: 1rem;
}

.submit-tweet-btn-mobile {
	margin-right: 18px;
	height: 32px;
	width: 80px;
}

.submit-tweet-btn:hover {
	cursor: pointer;
	opacity: 0.9;
}

.submit-tweet-btn:disabled {
	opacity: 0.5;
	background-color: var(--twitter-blue);
	color: var(--primary-text);
	border: none;
	font-weight: 600;
	height: 32px;
	font-size: 1rem;
}

.submit-tweet-btn-desktop {
	display: none;
	width: 70px;
	margin-left: 5px;
}

.modal-body {
	margin-top: 16px;
	display: flex;
	width: 100%;
}

.profile-img {
	border-radius: 50%;
	margin: 0 14px 0 5px;
}

.choose-audience-wrapper {
	height: 22px;
	min-width: auto;
	max-width: 140px;
	border: solid 1px var(--faded-white);
	border-radius: 20px;
	margin-top: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.choose-audience-wrapper:hover {
	cursor: pointer;
}

.audience-selected-text {
	font-size: 1rem;
	font-weight: 500;
	padding-right: 5px;
}

.dropdown {
	height: 15px;
	width: 15px;
	padding-right: 5px;
}

.hover-popout-outer {
	position: absolute;
	height: auto;
	width: 250px;
	z-index: 3;
	background-color: black;
	/* border: solid 1px white; */
	margin-top: 10px;
	top: 0;
	left: -70px;
	border-radius: 16px;
	box-shadow: 0 0 4px 2px rgba(114, 114, 114, 0.5);
}

.hover-popout-inner {
	padding: 12px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
}

.popout-selection-header {
	color: var(--primary-text);
	padding: 5px 12px;
	/* padding-left: 12px; */
	font-size: 1.45rem;
}

.green-bg-hover:hover {
	background-color: var(--faded-green);
}

.blue-bg-hover:hover {
	background-color: var(--faded-twitter-blue);
}

.green-bg {
	background-color: var(--green);
}

.blue-bg {
	background-color: var(--twitter-blue);
}

.red-bg {
	background-color: red;
}

.green-text {
	color: var(--green);
}

.blue-text {
	color: var(--twitter-blue);
}

.green-fill {
	fill: var(--green);
}

.blue-fill {
	fill: var(--twitter-blue);
}

.audience-selection-item {
	padding: 12px 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.audience-selection-text-img-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.audience-selection-img-container {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

.border-bottom-round {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.audience-selection-img {
	fill: var(--primary-text);
	height: 20px;
	width: 20px;
}

.audience-selection-text {
	color: var(--primary-text);
	font-size: 1.1rem;
}

.twitter-circle-people-container {
	display: flex;
	align-items: center;
	margin-top: 3px;
}

.bold-white-text {
	color: var(--primary-text);
	font-weight: 700;
}

.text-underline {
	text-decoration: underline;
	text-underline-offset: 3px;
	text-decoration-thickness: 2px;
}

.selected {
	display: flex;
}

.circle-count {
	margin-right: 4px;
}

.twitter-circle-edit-wrapper {
	/* width: 60px; */
	padding: 3px 12px;
	text-align: center;
	border-radius: 25px;
}

.check-container {
	height: 30px;
	width: 30px;
	align-items: center;
	justify-content: center;
}

.check {
	fill: var(--twitter-blue);
	height: 20px;
	width: 20px;
}

.modal-tweet-container {
	width: calc(100% - 85px);
	display: flex;
	flex-direction: column;
}

.tweet-input-wrapper {
	margin-top: 25px;
	min-height: 110px;
	height: auto;
	border: none;
	outline: none;
}

.tweet {
	font-family: "'Segoe UI'", sans-serif;
	background-color: transparent;
	border: none;
	outline: none;
	resize: none;
	color: var(--primary-text);
	font-size: 1.5rem;
	width: 100%;
	min-height: 110px;
	height: max-content;
	overflow: hidden;
	word-wrap: break-word;
	position: relative;
	overflow-wrap: break-word;
	z-index: 2;
	overflow-wrap: break-word;
	word-wrap: break-word;
	flex-wrap: wrap;
}

.placeholder {
	color: var(--faded-white);
	position: absolute;
	font-size: 1.5rem;
	z-index: 1;
}

.reply-choice-container {
	position: relative;
}

.reply-selection-container {
	position: absolute;
}

.reply-popout {
	min-width: 320px;
}

.reply-selection-subheader {
	padding: 2px 12px;
}

.reply-selection-header-text {
	padding: 5px 12px 0 12px;
}

.pb-1 {
	padding-bottom: 10px;
}

.reply-selection-inner-container {
	padding: 4px 12px;
	width: fit-content;
	margin: 0 -12px;
}

.reply-selection-inner-container:hover {
	background-color: var(--faded-twitter-blue);
	cursor: pointer;
	border-radius: 20px;
}

.reply-selection-img {
	height: 15px;
	width: 15px;
	fill: var(--twitter-blue);
}

.reply-selection-text {
	color: var(--twitter-blue);
	font-size: 1rem;
	margin-left: 2px;
}

.br {
	height: 1px;
	width: calc(100% + 14px);
	background-color: rgba(100, 100, 100, 0.5);
	margin-left: -14px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.extras-container {
	margin-left: -14px;
	display: flex;
}

.extras-item {
	height: 35px;
	width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.extras-item:hover {
	background-color: var(--faded-twitter-blue);
	border-radius: 50%;
	cursor: pointer;
}

.extras-img {
	height: 20px;
	width: 20px;
	fill: var(--twitter-blue);
}

.extra-buttons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.progress-addTweet-buttons {
	align-items: center;
}

.progress-container {
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.outer-circle {
	height: 22px;
	width: 22px;
	border-radius: 50%;
	background-color: var(--faded-grey);
	display: flex;
	align-items: center;
	justify-content: center;
	background: conic-gradient(var(--twitter-blue) 0deg, var(--faded-grey) 0deg);
}

.inner-circle {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.outer-circle-warning {
	height: 28px;
	width: 28px;
	border-radius: 50%;
	background-color: var(--faded-grey);
	display: flex;
	align-items: center;
	justify-content: center;
	background: conic-gradient(var(--twitter-blue) 0deg, var(--faded-grey) 0deg);
}

.inner-circle-warning {
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.vertical-divider {
	height: 100%;
	width: 1px;
	background-color: var(--faded-white);
	margin: 3px 8px;
}

.add-tweet-container {
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-tweet-btn {
	height: 20px;
	width: 20px;
	border: solid 1px var(--faded-white);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-tweet-img {
	height: 16px;
	width: 16px;
	fill: var(--twitter-blue);
}

.mobile-hover-popout-inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mobile-selection-cancel-btn-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mobile-selection-cancel-btn {
	width: 100%;
	background-color: transparent;
	border: solid 1px var(--faded-white);
	border-radius: 24px;
	outline: none;
	color: var(--primary-text);
	margin: 10px 15px;
	padding: 12px;
	font-size: 1.2rem;
}

.mobile-selection-cancel-btn:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.1);
}

.mobile-reply-padding {
	padding-left: 20px;
}

.character-count-warning-text {
	text-align: center;
}

/* Need to add the add tweet button and then setup to sent to backend */

@media (min-width: 700px) {
	.new-tweet-modal {
		align-items: flex-start;
	}
	.modal-outer {
		margin-top: 40px;
		border-radius: 18px;
		width: 600px;
		min-height: 315px;
		max-height: calc(100vh - 40px);
	}

	.modal-inner {
		width: 97%;
	}

	.modal-back-path {
		d: path(
			"M10.59 12L4.54 5.96l1.42-1.42L12 10.59l6.04-6.05 1.42 1.42L13.41 12l6.05 6.04-1.42 1.42L12 13.41l-6.04 6.05-1.42-1.42L10.59 12z"
		);
	}

	.submit-tweet-btn-mobile {
		display: none;
	}

	.submit-tweet-btn-desktop {
		display: inline-block;
	}
}

@media (max-width: 600px) {
	.modal-inner {
		width: 98%;
	}
}

.animate--font-expand {
	animation: fontExpand linear 250ms;
}

@keyframes fontExpand {
	0% {
		font-size: initial;
	}
	50% {
		font-size: 1.6rem;
		opacity: 0.5;
	}

	100% {
		font-size: 2.5rem;
		opacity: 0;
	}
}
