:root {
	--faded-twitter-blue: #1d9bf01a;
	--green: #00ba7c;
	--faded-green: #00ba7c1a;
	--red: rgba(249, 24, 128);
	--faded-red: rgba(249, 24, 128, 0.1);
}

.sticky-top {
	position: sticky;
	top: 0;
	z-index: 10;
}

.bg-black-semi-trans {
	background-color: rgba(29, 156, 240, 0);
	backdrop-filter: blur(20px);
}

.fixed-h100-w100 {
	height: 100vh;
	width: 100vw;
	position: fixed;
}

main {
	min-height: 100vh;
	min-width: 100vw;
	font-size: 15px;
	display: flex;
	margin: 0 auto;
	position: relative;
}

.mobile-aside {
	position: fixed;
	width: 280px;
	height: 100%;
	z-index: 30;
	background-color: black;
	box-shadow: 2px 0 4px rgba(196, 196, 196, 0.322);
}

.mobile-aside-header {
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	height: 53px;
	position: sticky;
}

.account-header-text {
	color: var(--primary-text);
	font-size: 1.2rem;
}

.mobile-aside-close-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 35px;
}

.mobile-aside-close-wrapper:hover {
	background-color: rgba(54, 54, 54, 0.5);
	border-radius: 50%;
	cursor: pointer;
}

.mobile-aside-close-img {
	fill: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 20px;
}

.mobile-aside-body {
	height: calc(100vh - 53px);
	overflow-y: auto;
	/* padding: 0 15px; */
}

.mobile-aside-account-img-wrapper {
	min-height: 55px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.mobile-aside-account-info-wrapper,
.mobile-aside-account-info-container {
	display: flex;
	flex-direction: column;
}

.mobile-aside-account-info-wrapper {
	padding: 0 15px;
}

.border-rad-50 {
	border-radius: 50%;
}

.image-40x40 {
	height: 40px;
	width: 40px;
}

.mobile-aside-account-switch {
	height: 30px;
	width: 30px;
	border: solid 1px rgba(165, 165, 165, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	align-self: center;
}

.mobile-aside-account-switch:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.103);
}

.mobile-aside-account-switch-img {
	fill: white;
	height: 15px;
	width: 15px;
}

.mobile-aside-name {
	margin-top: 8px;
	font-size: 1rem;
}

.text-underline-white:hover {
	text-decoration: underline solid white;
}

.text-decoration-none,
.text-decoration-none:hover {
	text-decoration: none;
}

.handle-text {
	font-weight: 100;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mobile-aside-handle {
	margin-top: 3px;
}

.mobile-aside-following-followers {
	display: flex;
	min-width: 50%;
	margin-top: 18px;
	font-size: 1.2rem;
}

.following-count {
	min-width: 100px;
}

.bold-white {
	font-weight: 700;
	color: var(--primary-text);
	font-size: 1rem;
}

.following-count:hover,
.followers-count:hover {
	text-decoration: underline solid white;
	cursor: pointer;
}

.mobile-account-links-wrapper {
	margin-top: 18px;
}

.mobile-account-link-wrapper {
	padding: 16px;
	display: flex;
}

.mobile-account-link-wrapper:hover {
	cursor: pointer;
	background-color: rgba(117, 117, 117, 0.192);
	text-decoration: none;
}

.mobile-aside-account-link {
	color: var(--primary-text);
	display: flex;
	align-items: center;
}

.mobile-aside-account-link:hover {
	text-decoration: none;
	color: var(--primary-text);
}

.mobile-aside-link-image {
	height: 24px;
	width: 24px;
	fill: white;
	margin-right: 22px;
}

.mobile-aside-link-text {
	font-size: 1.5rem;
	font-weight: 600;
}

.divider-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2px;
	width: 100%;
	margin: 1px 0 2px 0;
}

.divider {
	width: 90%;
	height: 1px;
	background-color: rgba(196, 196, 196, 0.24);
}

.creator-tool-link {
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.creator-tool-link:hover {
	cursor: pointer;
	background-color: rgba(117, 117, 117, 0.192);
	text-decoration: none;
}

.mobile-aside-creator-link-text {
	color: var(--primary-text);
	font-size: 1.1rem;
}

.dropdown-arrow {
	height: 19px;
	width: 19px;
	fill: var(--primary-text);
	transform-origin: center;
}

.mobile-dropdown-arrow-open {
	fill: var(--twitter-blue);
	transform: rotate(-180deg);
	transition-duration: 150ms;
}

.mobile-dropdown-arrow-close {
	fill: var(--primary-text);
	transform: rotate(0deg);
	transition-duration: 250ms;
}

.hover-bg-grey:hover {
	cursor: pointer;
	background-color: rgba(117, 117, 117, 0.192);
	text-decoration: none;
}

.svg-18x18 {
	height: 18px;
	width: 18px;
}

.pad-13px {
	padding: 13px;
}

.svg-primary-white {
	fill: var(--primary-text);
}

.text-white {
	color: var(--primary-text);
}

.marg-right-10px {
	margin-right: 12px;
}

.font-1rem {
	font-size: 1.1rem;
}

.flex-align-center {
	align-items: center;
}

.flex-align-end {
	align-items: flex-end;
}

.font-weight-400 {
	font-weight: 400;
}

.text-align-end {
	text-align: end;
}

.blank-space-50px {
	height: 50px;
}

.display-svg {
	position: relative;
}

.svg-colored-dot {
	position: absolute;
	height: 18px;
	width: 18px;
	fill: var(--twitter-blue);
}

.white-overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba(91, 112, 131, 0.4);
	z-index: 20;
	pointer-events: none;
}

.feed-outer {
	max-width: 600px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-outer {
	max-height: 110px;
	min-width: 100%;
	padding-top: 3px;
}

.header-head {
	width: 100%;
	display: flex;
	align-items: center;
	height: 50px;
}

.header-filler-blank,
.profile-image-outer {
	width: 44%;
}

.height-100-percent {
	height: 100%;
}

.profile-image-outer {
	padding-left: 18px;
}

.profile-image {
	border-radius: 50%;
	height: 32px;
	width: 32px;
}

.profile-image:hover {
	cursor: pointer;
}

.logo-header {
	height: 25px;
	width: 25px;
}
.logo-image-outer {
	display: flex;
	align-items: center;
}

.header-buttons {
	width: 100%;
	display: flex;
	align-items: center;
	/* padding-top: 10px; */
	border-bottom: solid 1px rgba(146, 146, 146, 0.267);
}

.for-you-header-btn,
.following-header-btn {
	width: 50%;
	height: 55px;
	background: none;
	font-size: 1.1rem;
	border: none;
}

.for-you-header-btn {
	color: var(--faded-white);
}

.following-header-btn {
	color: var(--faded-white);
}

.for-you-header-btn:hover,
.following-header-btn:hover {
	cursor: pointer;
	background-color: rgba(95, 95, 95, 0.404);
}

.header-text-active {
	color: var(--primary-text);
	text-decoration: underline var(--twitter-blue) 4px;
	text-underline-offset: 17px;
	font-weight: 700;
}

.navbar-mobile {
	width: 100%;
	height: 50px;
	position: sticky;
	bottom: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-top: solid 1px rgba(146, 146, 146, 0.267);
	background-color: black;
	z-index: 10;
}

.mobile-nav-icon-wrapper {
	width: calc(100vw / 4);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.mobile-nav-hover-wrapper {
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mobile-nav-hover-wrapper:hover {
	background-color: rgba(146, 146, 146, 0.192);
	border-radius: 50%;
	cursor: pointer;
}

.mobile-navbar-icon {
	height: 25px;
	width: 25px;
}

.feed-item-outer {
	min-height: 88px;
	border-top: solid 1px rgba(185, 185, 185, 0.2);
	border-bottom: solid 1px rgba(185, 185, 185, 0.2);
	padding: 12px 20px 0 16px;
	margin: 0;
	display: flex;
}

.feed-item-outer:hover {
	background: rgba(102, 102, 102, 0.1);
	cursor: pointer;
}

.feed-proile-image-wrapper {
	width: 75px;
	height: auto;
}

.image-border-wrapper {
	/* padding: 12px 6px 0 16px; */
	height: 48px;
	width: 48px;
	overflow: hidden;
	border-radius: 50%;
}

.feed-profile-image {
	height: 48px;
	width: 48px;
}

.feed-item-header-wrapper {
	display: flex;
	align-items: center;
	min-width: 0;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.feed-item-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: calc(100% - 3px);
	min-width: 0;
	overflow: hidden;
	white-space: nowrap;
}

.feed-name-wrapper {
	min-width: 0;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.feed-item-name {
	max-width: 100%;
	min-width: 0;
	padding-right: 8px;
	text-overflow: ellipsis;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	word-wrap: normal;
}

.thing {
	text-overflow: ellipsis;
	overflow: hidden;
	word-wrap: break-word;
	min-width: 0;
	white-space: nowrap;
}

.feed-item-text-wrapper {
	padding-right: 20px;
}

.feed-text {
	color: #e7e9eaff;
	font-size: 1.1em;
}

.seperator {
	height: 3px;
	width: 3px;
	background-color: #ffffff46;
	border-radius: 50%;
	margin: 0 5px;
}

.feed-item-inner-body {
	width: calc(100% - 75px);
}

.feed-item-options-button-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 35px;
	margin-right: 5px;
}

.options-button {
	height: 18px;
	width: 18px;
}

.options-img {
	fill: var(--faded-white);
}

.feed-item-options-button-wrapper:hover {
	background-color: var(--faded-twitter-blue);
	border-radius: 50%;
	cursor: pointer;
}

.feed-item-options-button-wrapper:hover .options-img {
	fill: var(--twitter-blue);
}

.feed-item-action-buttons {
	min-height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 7px;
}

.action-button-defaults {
	height: 18px;
	width: 18px;
	fill: var(--faded-white);
}

.action-button-wrapper {
	display: flex;
	color: var(--faded-white);
	font-size: 14px;
	align-items: center;
}

.action-button-image {
	padding: 5px;
}

.action-button-wrapper:hover .comments-image,
.action-button-wrapper:hover .comments-text {
	fill: var(--twitter-blue);
	color: var(--twitter-blue);
}

.action-button-wrapper:hover .comments-button {
	background-color: var(--faded-twitter-blue);
	border-radius: 50%;
}

.action-button-wrapper:hover .retweets-image,
.action-button-wrapper:hover .retweets-text {
	fill: var(--green);
	color: var(--green);
}

.action-button-wrapper:hover .retweets-button {
	background-color: var(--faded-green);
	border-radius: 50%;
}

.action-button-wrapper:hover .likes-image,
.action-button-wrapper:hover .likes-text {
	fill: var(--red);
	color: var(--red);
}

.action-button-wrapper:hover .likes-button {
	background-color: var(--faded-red);
	border-radius: 50%;
}

.action-button-wrapper:hover .views-image,
.action-button-wrapper:hover .views-text {
	fill: var(--twitter-blue);
	color: var(--twitter-blue);
}

.action-button-wrapper:hover .views-button {
	background-color: var(--faded-twitter-blue);
	border-radius: 50%;
}

.action-button-wrapper:hover .share-image {
	fill: var(--twitter-blue);
}

.action-button-wrapper:hover .share-button {
	background-color: var(--faded-twitter-blue);
	border-radius: 50%;
}

.mobile-tweet-container {
	height: 55px;
	width: 55px;
	border-radius: 50%;
	position: fixed;
	bottom: 73px;
	right: 18px;
	z-index: 20;
	background-color: var(--twitter-blue);
	box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.2);
}

.mobile-tweet-container:hover {
	cursor: pointer;
	background: #1187d6;
}

.mobile-tweet-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.mobile-tweet-img {
	fill: white;
	height: 26px;
	width: 26px;
}

.animate--mobile-aside-slide-open {
	/* transform-origin: right top; */
	animation: 250ms ease-in-out 0s slideOpen;
}

.animate--mobile-aside-slide-close {
	transform-origin: right top;
	animation: 250ms ease-in-out 0s slideClose;
}

/* Below starts desktop styles > 500px */

.desktop-header-head {
	display: none;
	margin: 10px 15px;
	font-size: 1rem;
}

.desktop-feed-newTweet-wrapper {
	/* min-height: 182px; */
	height: auto;
	display: none;
	padding-top: 10px;
	padding-right: 15px;
}

.desktop-tweet-profile-img {
	min-width: 76px;
	display: flex;
	justify-content: center;
}

.desktop-tweet-img {
	height: 48px;
	width: 48px;
	border-radius: 50%;
}

.desktop-tweet-body-outer {
	width: calc(100% - 76px);
	display: flex;
	flex-direction: column;
}

.desktop-audience-selection-wrapper {
	height: 22px;
	min-width: 110px;
	position: relative;
}

.desktop-audience-selection {
	border: solid 1px var(--faded-white);
	border-radius: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.desktop-audience-selection:hover {
	background-color: var(--faded-twitter-blue);
	cursor: pointer;
}

.desktop-tweet-audience-text {
	color: var(--twitter-blue);
	font-size: 1.1rem;
	font-weight: 400;
}

.dropdown {
	height: 15px;
	width: 15px;
	padding-right: 5px;
	padding-left: 3px;
}

.blue-bg {
	background-color: var(--twitter-blue);
}

.desktop-audience-selection-popout {
	position: absolute;
	width: 250px;
	background-color: black;
	top: 30px;
	left: -75px;
	z-index: 50;
	border-radius: 20px;
	box-shadow: 0 0 4px 2px rgba(114, 114, 114, 0.5);
}

.desktop-audience-select-inner {
	padding: 10px 0;
}

.desktop-audience-select-header {
	color: var(--primary-text);
	padding: 5px 12px;
	font-size: 1.45rem;
}

.desktop-audience-selection-item {
	padding: 12px 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.desktop-audience-selection-item:hover {
	background-color: var(--white-bg);
	cursor: pointer;
}

.desktop-audience-selection-text-img-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.desktop-audience-selection-img-container {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

.desktop-audience-selection-img {
	fill: var(--primary-text);
	height: 20px;
	width: 20px;
}

.audience-selection-text-container {
	display: flex;
	flex-direction: column;
}

.twitter-circle-people-container {
	display: flex;
	align-items: center;
	margin-top: 3px;
}

.circle-count {
	margin-right: 4px;
}

.bold-white-text {
	color: var(--primary-text);
	font-weight: 700;
}

.text-underline {
	text-decoration: underline;
	text-underline-offset: 3px;
	text-decoration-thickness: 2px;
}

.twitter-circle-edit-wrapper {
	/* width: 60px; */
	padding: 3px 12px;
	text-align: center;
	border-radius: 25px;
}

.border-bottom-round {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.green-bg {
	background-color: var(--green);
}

.green-bg-hover:hover {
	background-color: var(--faded-green);
}

.green-text {
	color: var(--green);
}

.green-fill {
	fill: var(--green);
}

.blue-fill {
	fill: var(--twitter-blue);
}

.selected {
	display: flex;
}

.check-container {
	height: 30px;
	width: 30px;
	align-items: center;
	justify-content: center;
}

.check {
	fill: var(--twitter-blue);
	height: 20px;
	width: 20px;
}

.tweetBox-outer {
	min-height: 40px;
	margin-top: 20px;
	position: relative;
}

.tweetBox-placeholder {
	position: absolute;
	color: var(--faded-white);
	font-size: 1.4rem;
	font-weight: 300;
	z-index: 1;
}

.tweetBox {
	position: relative;
	font-size: 1.4rem;
	color: var(--primary-text);
	z-index: 2;
	word-wrap: break-word;
	overflow: auto;
	word-break: break-all;
}

.tweetBox:focus-visible {
	outline: none;
}

.desktop-reply-container {
	position: relative;
}

.desktop-reply-outer {
	height: 22px;
	/* min-width: 160px; */
	padding: 2px 10px;
	display: flex;
	border-radius: 24px;
	/* justify-content: center; */
	align-items: center;
	margin-left: -5px;
}

.desktop-reply-outer:hover {
	background-color: var(--faded-twitter-blue);
	cursor: pointer;
}

.desktop-reply-img {
	height: 16px;
	width: 16px;
	fill: var(--twitter-blue);
	margin-right: 5px;
}

.desktop-reply-selection-text {
	color: var(--twitter-blue);
}

.desktop-reply-selection-popout {
	position: absolute;
	width: 318px;
	background-color: black;
	top: 30px;
	left: -80px;
	z-index: 50;
	border-radius: 20px;
	padding-bottom: 15px;
	box-shadow: 0 0 4px 2px rgba(114, 114, 114, 0.5);
}

.desktop-reply-selection-innner {
	padding: 15px 0;
}

.desktop-reply-header-text {
	padding-left: 15px;
	font-size: 1.2rem;
}

.desktop-reply-subheader-text {
	padding: 2px 15px;
	font-size: 1.1rem;
}

.text-small {
	font-size: 1.1rem;
}

.br {
	height: 1px;
	width: calc(100% + 14px);
	background-color: rgba(100, 100, 100, 0.5);
	margin-left: -14px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.desktop-extra-buttons-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}

.desktop-extra-buttons-outer {
	display: flex;
}

.desktop-extra-button-outer {
	padding: 8px;
	border-radius: 50%;
}

.desktop-extra-button-outer:hover {
	background-color: var(--faded-twitter-blue);
	cursor: pointer;
}

.desktop-extra-button {
	height: 20px;
	width: 20px;
	fill: var(--twitter-blue);
}

.submit-tweet-btn {
	height: 35px;
	width: 76px;
	border-radius: 20px;
	background-color: var(--twitter-blue);
	color: var(--primary-text);
	font-weight: 700;
	font-size: 1.1rem;
}

.submit-tweet-btn:hover {
	cursor: pointer;
	opacity: 0.9;
}

.submit-tweet-btn:disabled {
	border: none;
	outline: none;
	background-color: var(--twitter-blue);
	font-weight: 700;
	color: var(--primary-text);
	opacity: 0.5;
	cursor: auto;
}

/* Start Desktop Aside */
.desktop-aside {
	min-width: 68px;
	max-width: 110px;
	position: sticky;
	height: 100vh;
	left: 0;
	top: 0;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	display: none;
	overflow: auto;
}

.desktop-logo-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
}

.desktop-logo-wrapper:hover {
	background-color: var(--faded-twitter-blue);
	border-radius: 50%;
	cursor: pointer;
}

.desktop-logo {
	height: 29px;
	width: 29px;
	padding: 14px;
	fill: var(--primary-text);
	display: flex;
	align-items: center;
	justify-content: center;
}

.desktop-aside-links-wrapper {
	width: 60px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.desktop-links-wrapper {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.desktop-icon-outer {
	height: 46px;
	width: 46px;
}

.desktop-aside-icon-wrapper {
	fill: var(--primary-text);
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.desktop-aside-icon-wrapper:hover {
	border-radius: 50%;
	background-color: var(--white-bg);
	cursor: pointer;
}

.desktop-aside-icon {
	height: 26px;
	width: 26px;
}

.desktop-newTweet-wrapper {
	height: 55px;
	width: 55px;
	background-color: var(--twitter-blue);
	border-radius: 50%;
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.desktop-newTweet-wrapper:hover {
	background-color: #1d9bf0cc;
	cursor: pointer;
}

.desktop-newTweet {
	height: 24px;
	width: 24px;
	fill: var(--primary-text);
}

.desktop-aside-profile-link {
	height: 68px;
	width: 68px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	margin-top: 5px;
	position: relative;
}

.desktop-aside-profile-link:hover {
	background-color: var(--faded-grey);
	cursor: pointer;
}

.desktop-aside-profile-img {
	height: 42px;
	width: 42px;
	border-radius: 50%;
}

.desktop-link-text {
	color: var(--primary-text);
	text-align: start;
	font-size: 1.5rem;
	margin-right: 15px;
}

/* Large desktop styles start here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.large-desktop-aside {
	display: none;
	min-width: 270px;
	max-width: 295px;
	padding: 0 15px;
	position: sticky;
	height: 100vh;
	left: 0;
	top: 0;
	flex-direction: column;
	justify-content: space-between;
	overflow-x: visible;
}

.large-desktop-logo-wrapper {
	height: 57px;
	width: 57px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.large-desktop-logo-wrapper:hover {
	background-color: var(--faded-twitter-blue);
	cursor: pointer;
}

.large-desktop-logo {
	fill: var(--primary-text);
	height: 30px;
	width: 30px;
}

.large-desktop-link-wrapper-outer {
	display: flex;
	flex-direction: column;
}

.large-desktop-link-img-wrapper {
	height: 28px;
	width: 28px;
	fill: var(--primary-text);
	margin-right: 15px;
}

.large-desktop-link-wrapper {
	display: flex;
	align-items: center;
	padding: 5px 0;
	position: relative;
}

.large-desktop-link-wrapper:hover {
	cursor: pointer;
	text-decoration: none;
}

.large-desktop-link-wrapper:hover > .large-desktop-link-inner {
	border-radius: 24px;
	background-color: var(--white-bg);
}

.large-desktop-link-inner {
	display: flex;
	align-items: flex-end;
	padding: 10px 15px;
}

.large-desktop-text-outer {
	display: flex;
	align-items: flex-end;
}

.large-desktop-link-text-wrapper {
	color: var(--primary-text);
	font-size: 1.5rem;
	/* line-height: 26px; */
	margin-block-start: 0;
	margin-block-end: 0;
}

.popout-outer {
	position: fixed;
	width: 350px;
	background-color: black;
	min-height: 200px;
	z-index: 100;
	border-radius: 20px;
	box-shadow: 0 0 4px 2px rgb(114 114 114 / 50%);
	padding: 15px 0;
	pointer-events: all;
	overflow-x: visible;
	overflow-y: auto;
}

.popout-item-outer:hover {
	background-color: var(--white-bg);
	cursor: pointer;
}

.popout-item-inner {
	padding: 15px;
	display: flex;
	align-items: center;
}

.popout-item-img-wrapper {
	height: 30px;
	width: 30px;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popout-item-img {
	height: 26px;
	width: 26px;
	fill: var(--primary-text);
	display: flex;
	align-items: center;
	justify-content: center;
}

.popout-item-text {
	color: var(--primary-text);
}

.popout-item-dropdown-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.popout-item-dropdown-text {
	color: var(--primary-text);
}

.popout-item-dropdown-img-wrapper {
	height: 25px;
	width: 25px;
}

.popout-item-dropdown-img {
	fill: var(--primary-text);
	height: 22px;
	width: 22px;
	transform-origin: center;
}

.popout-item-dropdown-img-open {
	transform: rotate(180deg);
	fill: var(--twitter-blue);
	transition-duration: 150ms;
}

.popout-item-dropdown-img-close {
	transform: rotate(0deg);
	fill: var(--primary-text);
	transition-duration: 150ms;
}

.popout-dropdown-item-outer {
	display: flex;
	align-items: center;
}

.popout-dropdown-item-img {
	height: 20px;
	width: 20px;
	fill: var(--primary-text);
	margin-right: 15px;
	position: relative;
}

.popout-dropdown-item-text {
	color: var(--primary-text);
	font-size: 1.1rem;
	text-align: start;
}

.current-tab {
	font-weight: 700;
}

.large-desktop-newTweet-wrapper {
	height: 52px;
	width: 85%;
	margin-top: 20px;
	margin-right: 20px;
}

.large-desktop-newTweet-button {
	height: 100%;
	width: 100%;
	border-radius: 24px;
	background-color: var(--twitter-blue);
	color: var(--primary-text);
	font-size: 1.3rem;
	font-weight: 700;
}

.large-desktop-newTweet-button:hover {
	cursor: pointer;
	opacity: 0.9;
}

.large-desktop-account-wrapper {
	width: 90%;
	padding: 10px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.large-desktop-account-wrapper:hover {
	background-color: var(--white-bg);
	border-radius: 30px;
	cursor: pointer;
}

.large-desktop-profile-name-image-wrapper {
	display: flex;
	align-items: center;
}

.large-desktop-profile-image {
	border-radius: 50%;
	margin-right: 15px;
	height: 40px;
	width: 40px;
}

.large-desktop-profile-name-wrapper {
	display: flex;
	flex-direction: column;
	color: var(--primary-text);
}

.large-desktop-options-img {
	fill: var(--primary-text);
}

.large-desktop-profile-name {
	margin-bottom: 5px;
	font-weight: 600;
}

.large-desktop-profile-handle {
	font-weight: 100;
	font-size: 1rem;
}

.desktop-account-popout {
	position: fixed;
	width: 300px;
	background-color: black;
	/* bottom: 70px;
	left: 10px; */
	z-index: 50;
	border-radius: 20px;
	box-shadow: 0 0 4px 2px rgb(114 114 114 / 50%);
	padding: 15px 0;
	pointer-events: all;
}

.desktop-account-popout-item-outer {
	padding: 10px 10px;
}

.desktop-account-popout-item-outer:hover {
	background-color: var(--white-bg);
	cursor: pointer;
}

.bookmarks-more-item {
	display: none;
}

.large-desktop-logout {
	background-color: transparent;
	outline: none;
	border: none;
}

.large-desktop-logout:hover {
	cursor: pointer;
	outline: none;
	border: none;
}

.progress-addTweet-buttons {
	align-items: center;
	margin-right: 8px;
}

.progress-container {
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.outer-circle {
	height: 22px;
	width: 22px;
	border-radius: 50%;
	background-color: var(--faded-grey);
	display: flex;
	align-items: center;
	justify-content: center;
	background: conic-gradient(var(--twitter-blue) 0deg, var(--faded-grey) 0deg);
}

.inner-circle {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.outer-circle-warning {
	height: 28px;
	width: 28px;
	border-radius: 50%;
	background-color: var(--faded-grey);
	display: flex;
	align-items: center;
	justify-content: center;
	background: conic-gradient(var(--twitter-blue) 0deg, var(--faded-grey) 0deg);
}

.inner-circle-warning {
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.character-count-warning-text {
	text-align: center;
}

.vertical-divider {
	height: 100%;
	width: 1px;
	background-color: var(--faded-white);
	margin: 3px 8px;
}

.add-tweet-container {
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-tweet-btn {
	height: 20px;
	width: 20px;
	border: solid 1px var(--faded-white);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-tweet-img {
	height: 16px;
	width: 16px;
	fill: var(--twitter-blue);
}

.desktop-extras-bar {
	width: 288px;
	min-height: 100%;
	display: none;
	flex-direction: column;
	margin: 0 20px;
	position: relative;
}

/* Sidebar background color rgba(32, 35, 39, 0.7); */
.desktop-extras-searchbar-wrapper {
	width: 100%;
	height: 41px;
	display: flex;
	background-color: rgba(32, 35, 39, 0.7);
	border-radius: 24px;
	margin-top: 5px;
	align-items: center;
}

.searchbar-item {
	background-color: black;
	position: sticky;
	top: 0;
	padding-bottom: 5px;
	z-index: 4;
}

.searchbar-search-icon {
	height: 20px;
	width: 20px;
	fill: rgb(122, 122, 122);
	margin: 0 13px;
}

.searchbox {
	min-width: calc(100% - 90px);
	max-width: calc(100% - 50px);
	position: relative;
	z-index: 3;
}

.desktop-searchbox-placeholder {
	position: absolute;
	z-index: 2;
	color: var(--faded-grey);
	font-size: 16px;
	height: 100%;
	align-items: center;
}

.desktop-extras-search {
	width: 100%;
	/* height: 95%; */
	font-size: 16px;
	background-color: transparent;
	color: var(--primary-text);
	border: none;
	position: relative;
	z-index: 10;
}

.desktop-extras-search:focus {
	outline: none;
	border: none;
}

.desktop-clear-search-wrapper {
	height: 24px;
	width: 24px;
	margin: 10px;
}

/* .desktop-clear-search-wrapper:hover {
	cursor: text;
} */

.desktop-clear-search {
	height: 100%;
	width: 100%;
	background-color: var(--twitter-blue);
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}

.desktop-clear-search-img {
	height: 12px;
	width: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: black;
}

.desktop-clear-search:hover {
	opacity: 0.9;
	cursor: pointer;
}

.desktop-extras-outer {
	width: 100%;
	background-color: rgba(32, 35, 39, 0.7);
	margin-top: 15px;
	border-radius: 15px;
}

.desktop-extras-article-title {
	font-size: 1.6rem;
	color: var(--primary-text);
	padding-top: 10px;
	padding-left: 15px;
}

.desktop-sports-news-outer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 15px;
	margin-top: 5px;
}

.desktop-sports-news-outer:hover {
	background-color: rgba(87, 87, 87, 0.123);
	cursor: pointer;
}

.article-info-outer {
	display: flex;
	flex-direction: column;
}

.light-white-light-weight {
	color: rgba(255, 255, 255, 0.247);
	font-weight: 100;
	font-size: 0.9rem;
	opacity: 0.8;
}

.title-header-item {
	display: flex;
	align-items: center;
}

.article-title {
	padding-top: 5px;
	font-size: 1.3rem;
}

.img-item {
	position: relative;
	z-index: 3;
}

.article-img {
	height: 68px;
	width: 68px;
	object-fit: cover;
	border-radius: 10px;
}

.desktop-promoted-item-outer {
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
}

.desktop-promoted-item-outer:hover {
	background-color: rgba(87, 87, 87, 0.123);
	cursor: pointer;
}

.promoted-text {
	font-size: 1rem;
	padding-top: 3px;
}

.external-link-wrapper {
	display: flex;
	align-items: center;
}

.external-link-img {
	height: 13px;
	width: 13px;
	margin-right: 5px;
	fill: rgba(255, 255, 255, 0.247);
	padding-top: 3px;
}

.desktop-trending-item-outer {
	padding: 10px 15px;
}

.desktop-trending-item-outer:hover {
	background-color: rgba(87, 87, 87, 0.123);
	cursor: pointer;
}

.desktop-trending-item-outer {
	display: flex;
	justify-content: space-between;
}

.pt-5 {
	padding-top: 5px;
}

.desktop-extras-more-link-wrapper {
	padding: 10px 15px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.desktop-extras-more-link-wrapper:hover {
	background-color: rgba(87, 87, 87, 0.123);
	cursor: pointer;
}

.desktop-extras-more-link {
	display: inline-block;
	padding: 8px 0;
}

.desktop-extras-more-link:hover {
	text-decoration: none;
}

.follow-title {
	padding-bottom: 10px;
}

.desktop-extras-follow-person-outer {
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.desktop-extras-follow-person-inner {
	display: flex;
	align-items: center;
}

.desktop-extras-follow-person-outer:hover {
	background-color: rgba(87, 87, 87, 0.123);
	cursor: pointer;
}

.extras-person-profile-img {
	width: 60px;
}

.profile-name-handle-outer {
	white-space: nowrap;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	max-width: 108px;
}

.extras-profile-name {
	color: var(--primary-text);
	text-overflow: ellipsis;
	font-size: 1.3rem;
	overflow: hidden;
	direction: ltr;
}

.extras-profile-name:hover {
	text-decoration: underline;
}

.extras-profile-handle {
	padding-top: 5px;
}

.desktop-extras-follow-button {
	background-color: var(--primary-text);
	border-radius: 20px;
	outline: none;
	border: none;
	color: black;
	padding: 10px 20px;
	margin-left: 10px;
}

.desktop-extras-follow-button:hover {
	cursor: pointer;
	opacity: 0.9;
}

/* Width breakpoints */

@media (max-width: 450px) {
	.views-wrapper {
		display: none;
	}
}

@media (min-width: 500px) {
	main {
		justify-content: center;
	}
	.header-head {
		display: none;
	}
	.desktop-feed-newTweet-wrapper {
		display: flex;
	}
	.desktop-header-head {
		display: block;
	}
	.navbar-mobile {
		display: none;
	}
	.mobile-tweet-container {
		display: none;
	}
	.feed-outer {
		border-right: solid 1px rgba(185, 185, 185, 0.2);
		border-left: solid 1px rgba(185, 185, 185, 0.2);
		/* margin: 0; */
	}
	.desktop-aside {
		display: flex;
	}
	/* .feed-name-wrapper {
		max-width: 130px;
	} */
}

/* @media (min-width: 550px) {
	.feed-name-wrapper {
		max-width: 150px;
	}
} */

@media (min-width: 630px) {
	.desktop-aside {
		min-width: 88px;
	}
	/* .feed-name-wrapper {
		max-width: 175px;
	} */
}

@media (max-width: 700px) {
	.tweetBox-outer {
		margin-right: 20px;
	}

	.submit-tweet-btn {
		margin-right: 20px;
	}

	.poll-img {
		display: none;
	}

	.schedule-img {
		display: none;
	}
	/* .feed-name-wrapper {
		max-width: 250px;
	} */
}

@media (min-width: 800px) {
	main {
		margin-left: -50px;
	}
}

@media (min-width: 850px) {
	main {
		margin-left: -100px;
	}
}

@media (min-width: 1024px) {
	main {
		margin: auto;
	}
	.desktop-extras-bar {
		display: flex;
	}
}

@media (min-width: 1130px) {
	.desktop-extras-bar {
		width: 346px;
	}
	.profile-name-handle-outer {
		max-width: 150px;
	}
}

@media (min-width: 1300px) {
	.desktop-aside {
		display: none;
	}
	.large-desktop-aside {
		display: flex;
	}
}

/* Height Breakpoints */

@media (max-height: 796px) {
	.large-desktop-newTweet-wrapper {
		margin-top: 0;
	}
}

@media (max-height: 704px) {
	.desktop-links-wrapper {
		gap: 5px;
	}
	.large-desktop-link-wrapper {
		padding: 0;
	}
}

@media (max-height: 615px) {
	.desktop-links-wrapper {
		gap: 0;
	}

	.desktop-newTweet-wrapper {
		margin: 0;
	}

	.bookmarks-more-item {
		display: flex;
	}

	.bookmarks-item {
		display: none;
	}
}

@media (max-height: 500px) {
	.header-head {
		display: flex;
	}
	.desktop-header-head {
		display: none;
	}
	.navbar-mobile {
		display: flex;
		width: 100vw;
	}
	.mobile-tweet-container {
		display: block;
	}
	/* .feed-outer {
		margin: 0;
	} */
	.desktop-aside {
		display: none;
	}
	.large-desktop-aside {
		display: none;
	}
}

/* Animation Keyframes */

@keyframes slideOpen {
	0% {
		left: -280px;
	}
	100% {
		left: 0;
	}
}

@keyframes slideClose {
	0% {
		left: 0;
	}
	100% {
		left: -280px;
	}
}

.animate--font-expand {
	animation: fontExpand linear 250ms;
}

@keyframes fontExpand {
	0% {
		font-size: initial;
	}
	50% {
		font-size: 1.6rem;
		opacity: 0.5;
	}

	100% {
		font-size: 2.5rem;
		opacity: 0;
	}
}
