*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

:root {
	--primary-text: #e7e9eaff;
	--twitter-blue: #1d9bf0ff;
	--faded-white: #ffffff66;
}

html {
	font-family: "'Segoe UI'", sans-serif;
	font-size: 14px;
	overflow-x: hidden;
	background-color: black;
	/* overflow-y: hidden; */
}

button:disabled {
	background-color: rgb(119, 121, 122);
	color: black;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.noscroll {
	overflow: hidden;
}

.invalid-input {
	border: solid 2px rgb(255, 12, 12) !important;
}

.invalid-text-color {
	color: rgb(255, 12, 12) !important;
}

.invalid-text {
	display: none;
	color: rgb(255, 12, 12) !important;
	padding-top: 7px;
	padding-left: 10px;
}

.text-color {
	color: var(--primary-text);
}

.text-blue {
	color: var(--twitter-blue);
}

.input-text,
.input-text:focus {
	background-color: transparent;
	outline: none;
	border: none;
}

.text-muted {
	color: #ffffff46;
}

.text-align-center {
	text-align: center;
}

.vh-100 {
	height: 100vh;
}

.vw-100 {
	width: 100vw;
}

.d-flex {
	display: flex;
}

.d-inline {
	display: inline;
}

.d-inline-block {
	display: inline-block;
}

.d-none {
	display: none;
}

.d-block {
	display: block;
}

.flex-direction-col {
	flex-direction: column;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-space {
	justify-content: space-evenly;
}

.align-items-center {
	align-items: center;
}

.space-between {
	justify-content: space-between;
}

.p-1 {
	padding: 7px;
}

.p-2 {
	padding: 7px;
}

.pt-2 {
	padding-top: 15px;
}

.px-2 {
	padding: 0 15px;
}

.ps-1 {
	padding-left: 7px;
}

.mt-1 {
	margin-top: 10px;
}

.mt-2 {
	padding-top: 25px;
}

.mt-3 {
	margin-top: 30px;
}

.mt-4 {
	margin-top: 50px;
}

.ml-3 {
	margin-left: 35px;
}

.mb-1 {
	margin-bottom: 7px;
}

.mb-2 {
	margin-bottom: 25px;
}

.mb-3 {
	margin-bottom: 30px;
}

.mb-4 {
	margin-bottom: 50px;
}

.mb-5 {
	margin-bottom: 100px;
}

.mt-5 {
	margin-top: 100px;
}

.mx-2 {
	margin: 0 15px;
}

.w-40 {
	max-width: 40%;
}

.w-60 {
	max-width: 55%;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.h-auto {
	height: auto;
}

.min-height-94 {
	min-height: 94%;
}

.max-w-100 {
	max-width: 100%;
}

a {
	color: var(--twitter-blue);
}

.main {
	background: black;
}

.logo-container {
	background-image: url("../Icons/home_page_background.png");
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.logo {
	height: 45%;
	width: 45%;
}

.login-container {
	max-width: 335px;
}

.logo-small-container {
	height: 45px;
	width: 45px;
}

.logo-small {
	height: 100%;
	width: 100%;
}

.title-container {
	white-space: nowrap;
}

.title {
	font-size: 4rem;
	white-space: nowrap;
}

.subtitle {
	font-size: 2.7rem;
}

.btn {
	border-radius: 24px;
	background-color: transparent;
	height: 45px;
	width: 100%;
	cursor: pointer;
}

.btn-white {
	background-color: white;
}

.clear-bg-btn {
	background-color: transparent;
}

.btn-white:hover {
	background-color: #ffffffee;
}

.sign-up-button {
	color: var(--primary-text);
	background-color: var(--twitter-blue);
	font-weight: 700;
}

.sign-up-button:hover {
	background-color: #1d9bf0ee;
}

.hr {
	width: 48%;
	height: 1px;
	background-color: #e7e9ea33;
}

.terms {
	font-size: 0.8rem;
}

.sub {
	font-size: 1.3rem;
}

.sign-in-button {
	border: 1px solid #e7e9ea55;
}

.sign-in-button:hover {
	background-color: #1d9bf011;
}

.ftr-link {
	color: #ffffff55;
	text-decoration: none;
	font-size: 0.9rem;
}

.ftr-link:hover {
	text-decoration: underline;
}

.modal-container {
	height: 100vh;
	width: 100vw;
	background: rgba(91, 112, 137, 0.4);
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-outer {
	min-height: 450px;
	max-width: 600px;
	max-height: 90vh;
	background-color: black;
	min-width: 600px;
	border-radius: 20px;
	height: 650px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.modal-close-container {
	height: 35px;
	width: 35px;
	background-color: transparent;
	margin: 12px;
}

.modal-close-outer {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-close-outer:hover {
	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
}

.modal-close-btn {
	height: 40%;
	width: 40%;
}

.modal-steps {
	display: inline-block;
}

.header-text {
	color: var(--primary-text);
	font-size: 1.4rem;
}

.modal-form-outer {
	width: 75%;
	margin: 0 auto;
	min-height: 75%;
	min-width: 75%;
}

.form-group {
	justify-content: space-between;
}

.form-header {
	color: var(--primary-text);
	font-size: 2.3rem;
	margin-top: 20px;
}

.input-label-wrapper {
	display: flex;
	flex-direction: column;
	width: 95%;
	background-color: transparent;
	border: solid 1px rgba(255, 255, 255, 0.3);
	height: 4rem;
	border-radius: 3px;
	cursor: text;
	text-indent: 7px;
	font-size: 1rem;
	color: var(--primary-text);
	margin-top: 30px;
	position: relative;
}

.form-text-input,
.form-label,
.label-wrapper {
	transition: all 1s;
	touch-action: manipulation;
}

.label-wrapper {
	display: none;
	justify-content: space-between;
	padding-top: 7px;
	padding-right: 4px;
}

.input-label-wrapper:focus {
	border: solid 2px var(--twitter-blue);
}

.input-label {
	color: var(--twitter-blue);
}

.form-text-input {
	color: var(--primary-text);
	text-indent: 7px;
	height: 5rem;
	font-size: 1.3rem;
}

.input-word-count {
	color: var(--faded-white);
	margin-right: 3px;
}

.form-label {
	color: var(--primary-text);
	padding-left: 7px;
}

.form-next-btn {
	min-height: 10%;
}

.input-focused {
	border: solid 2px var(--twitter-blue);
}

.form-text-input:focus::placeholder {
	color: transparent;
}

.signup-email {
	display: none;
}

.signup-email-phone-switch-wrapper {
	width: 100%;
	padding-top: 10px;
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
	color: var(--twitter-blue);
	font-size: 1.2rem;
}

.signup-email-phone-switch {
	text-decoration: none;
	font-size: 1.2rem;
}

.signup-email-phone-switch-wrapper:hover {
	text-decoration: underline;
}

.birth-date-wrapper {
	margin-top: 30px;
}

.dob-info {
	color: rgba(255, 255, 255, 0.3);
	word-wrap: break-word;
}

.dob-input-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}

.dob-option {
	height: 4.1rem;
	background-color: transparent;
	color: var(--faded-white);
	border: solid 1px var(--faded-white);
	border-radius: 5px;
}

.dob-month-wrapper {
	width: 45%;
	display: flex;
	flex-direction: column;
}

.dob-day-wrapper {
	display: flex;
	flex-direction: column;
	width: 20%;
}

.dob-year-wrapper {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.dob-select {
	height: 70%;
	background-color: transparent;
	border: none;
	color: var(--primary-text);
	cursor: pointer;
	/* margin-left: 5%; */
	text-indent: 10px;
	line-height: 1.1rem;
	font-size: 1.1rem;
}

.dob-label {
	height: 20%;
	padding-top: 13px;
	margin-left: 13px;
}

.dob-select:active,
.dob-select:focus,
.dob-select:focus-visible {
	border: none;
	outline: none;
}

.select-item {
	background-color: black;
	color: white;
	font-size: 1.3rem;
}

.information-use-header {
	margin-top: 50px;
	font-size: 1.8rem;
}

.information-use-check-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 20px;
}

.information-use-label {
	font-size: 1.1rem;
	margin-right: 30px;
}

.information-use-terms {
	margin-top: 30px;
	font-size: 1.1rem;
}

.checkbox-wrapper {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-wrapper input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: transparent;
	border: solid 2px rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	margin: 10px;
}

.checkmark:hover {
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
	-moz-box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
	-o-box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.checkbox-wrapper input:checked ~ .checkmark {
	background-color: #2196f3;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox-wrapper input:checked ~ .checkmark:after {
	display: block;
}

.checkbox-wrapper .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.checkbox {
	background-color: transparent;
	padding: 10px;
	cursor: pointer;
}

.modal-btn-wrapper {
	height: 60px;
	/* margin-top: 50px; */
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.modal-btn {
	width: 75%;
	height: 90%;
	border-radius: 30px;
	font-size: 1.2rem;
	font-weight: 700;
}

.modal-btn:not(:disabled) {
	cursor: pointer;
}

.group-3-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.form-3-header {
	align-self: flex-start;
	margin-bottom: 20px;
	margin-left: 10px;
}

.info-conf-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.signup-page3-input-wrapper {
	width: 90%;
	padding: 12px;
	border: solid 1px #ffffff46;
	border-radius: 3px;
	margin: 10px 0;
}

.green-check-good {
	height: 20px;
	width: 20px;
}

.signup-page3-input-container {
	display: flex;
	justify-content: space-between;
}

.signup-page3-input {
	width: 90%;
	background: transparent;
	border: none;
	outline: none;
	color: var(--primary-text);
	font-size: 1.3rem;
	padding-top: 4px;
}

.signup-page3-input:active,
.signup-page3-input:focus,
.signup-page3-input:focus-visible {
	border: none;
	outline: none;
}

.terms-text {
	margin-top: 20px;
	font-size: 0.9rem;
	width: 95%;
	margin: 0 auto;
}

.empty-link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.header-verify-signup {
	margin-top: 0;
}

.verify-subheader {
	margin-top: 10px;
	font-weight: 400;
}

.input-border-blue:focus-within {
	border: solid 2px var(--twitter-blue);
}

.new-verify-link {
	padding-left: 7px;
}

.password-text-box {
	width: 90%;
	display: inline-block;
}

.password-show-hide-btn {
	position: absolute;
	bottom: 7px;
	right: 7px;
	height: 21px;
	width: 21px;
	z-index: 10;
}

.password-show-hide-btn:hover {
	cursor: pointer;
}

.signup-btn-end {
	background-color: var(--twitter-blue);
	color: white;
}

.signup-btn-end:disabled {
	background-color: rgba(29, 156, 240, 0.856);
	border: none;
	outline: none;
	/* color: white; */
}

/* Below Starts the signin modal styles */

.signin-modal-header {
	display: flex;
	align-items: center;
	position: relative;
	height: 60px;
}

.signin-modal-header-logo {
	height: 30px;
	width: 30px;
}

.signin-modal-header-logo-container {
	margin: 0 auto;
}

.signin-modal-close {
	margin: 0;
	position: absolute;
	top: 12px;
	left: 12px;
}

.signin-form-outer {
	max-width: 50%;
	min-width: 0;
}

.signin-modal-outer {
	justify-content: flex-start;
}

.signin-header-text {
	font-size: 2.2rem;
	margin: 18px 0 25px 0;
}

.google-signin-btn-wrapper {
	margin-bottom: 15px;
}

.apple-signin-btn-wrapper {
	margin-bottom: 5px;
}

.signin-label-wrapper {
	margin-top: 12px;
	width: 100%;
}

.signin-next-btn {
	margin-top: 30px;
}

.forgot-pw-btn {
	border: 1px solid #e7e9ea55;
}

.smaller-btn {
	font-weight: 700;
	height: 38px;
	font-size: 1.1rem;
}

.signin-password-header {
	font-size: 2.2rem;
	margin: 15px 0 30px 0;
}

.disabled-input-wrapper {
	background-color: rgb(16, 17, 19);
}

.disabled-label {
	color: rgb(53, 55, 58);
}

.disabled-input {
	color: rgb(53, 55, 58);
}

.border-none {
	border: none;
}

.align-start {
	align-self: flex-start;
}

.signin-btn {
	display: inline-block;
	margin: 0 auto;
	height: 50px;
	width: 100%;
}

.signin-btn-wrapper {
	width: 75%;
	margin: -15px auto;
}

@media (max-width: 1024px) {
	.login-main-section {
		flex-direction: column-reverse;
	}
	.logo-container {
		height: auto;
		max-width: 100%;
	}

	.login-container {
		max-width: 100%;
		margin-left: 100px;
		margin-right: 30%;
	}
	.min-w-335px {
		min-width: 335px;
		max-width: 335px;
	}
	.main-login-btn-container {
		margin-bottom: 50px;
	}
}

@media (max-width: 600px) {
	.login-container {
		margin: 0;
		margin-left: 50px;
		transform: scale(0.9);
	}
	.title-container {
		white-space: normal;
	}
	.title {
		white-space: normal;
	}
}

@media (max-width: 500px) {
	.login-container {
		margin-left: 15px;
	}
}

@media (max-width: 400px) {
	.login-container {
		margin: 0;
	}
}
